.imagen-cuadro {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    width: 48%; /* Asegura que ocupen la mitad del contenedor */
}

.imagen-cuadro img {
    width: 100%;
    border-radius: 5px;
}

/* Botones adicionales */
.btn-carrito {
    background-color: #c47042;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-carrito:hover {
    background-color: #a35734;
}

.titulo-interes {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.imagenes-interes {
    display: flex;
    gap: 10px; /* Espacio entre imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente */
}

.info-box {
    max-width: 90%; /* Aumenta el ancho máximo */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    padding: 15px;
    border: 3px solid #004400;
    border-radius: 8px;
}

.producto-imagen {
    max-height: 80%; /* Hace que la imagen ocupe solo el 80% del contenedor */
    width: auto;
}

.contenedor-producto {
    display: flex;
    align-items: center; /* Centra la imagen dentro del contenedor */
    height: 250px; /* Ajusta según el diseño */
}

.carousel-inner img {
    height: 220px; /* Ajusta la altura de las imágenes */
    object-fit: contain; /* Evita que las imágenes se deformen */
}


.carousel-indicators .active {
    opacity: 1; /* El botón activo es más visible */
    background-color: #8B572A; /* Color más oscuro para destacar */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Cambia el color de las flechas a blanco por defecto */
    transition: filter 0.3s ease-in-out;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(50%) sepia(100%) hue-rotate(200deg) saturate(500%); /* Cambia a un tono diferente */
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Reduce el ancho de las zonas clickeables */
}

.carousel-control-prev {
    left: -10px; /* Ajusta la posición más cerca de la imagen */
}

.carousel-control-next {
    right: -10px;
}


.carousel {
    margin-top: 70px; /* Ajusta el valor según la altura del header */
    z-index: 1; /* Asegura que esté detrás del header */
}

.carousel-control-prev {
    left: 120px !important;
}

.carousel-control-next {
    right: 120px !important;
}
