.espacioFondoTituloCat{
    background-color: #9FBDE0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre elementos */
    justify-items: center;
    align-items: center;
    /*margin: 20px auto;*/
    /*max-width: 900px; /* Ajusta según el diseño */
    max-width: 2024px;
    height: auto;
    padding-top: 12px;
    padding-bottom: 29px;
}

.producto {
    background: #f0f4f8; /* Fondo similar a la primera imagen */
    border: 2px solid #d1d9e6;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 280px;
}

.producto img {
    width: 100%; /* Ocupará todo el ancho del contenedor */
    max-width: 250px; /* Tamaño máximo uniforme */
    height: 180px; /* Altura fija */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


.producto h2 {
    background: #a6c5e9; /* Color de fondo similar al de las tabletas */
    color: #003366;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    margin: 10px 0 0;
    border-radius: 5px;
}
