.productos{
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar padding por defecto */
    overflow-x: hidden; /* Evitar el desplazamiento horizontal */
    background-color: #9FBDE0;
    box-sizing: border-box; /*sirve para que el ancho y la altura de un elemento incluyan el relleno y el borde. */
}

.tituloCategoria{
    background-color: #fff;
    color: #1c3b6c;
    padding: 5px;
    border-radius: 12px;
    margin-top: 2%;
    margin-left: 5%;
    display: inline-block;
}

.pocisionTitulosCat{
    align-items: start;
    margin-top: 2%;
    margin-left: 5%;
}
